body{
  background-color: #F9F4E1;
  background-image: url("https://cdn.pixabay.com/photo/2018/08/21/23/29/fog-3622519_960_720.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.icon{
  font-size: 35px;
  padding: 30px;
  color:white;
}

h1{
  font-family: 'Comic Neue', cursive;
  color:white;
}

h2{
  font-family: 'Comic Neue', cursive;
  color:#4A6E48;
  font-size: 75px;
}

#header-container{
  background-color: #4A6E48;
}


button{
  background-color:#4A6E48;
  margin-right:20px;
}

#alert{
  height:150px;
  font-size: 100px;;
}